.App {
  text-align: center;
  background-color: #6485c8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    clip-path: circle(47%);
  }
}

.App-header {
  text-align: center;
  background-color: #3e5480;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  background-color: #4885ff;
  border: black;
  padding: 10px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.App-invite {
  color: white;
  font-size: 30px;
  padding: 10px;
}

.App-footer {
  color: white;
  font-size: 30px;
  padding: 10px;

}